footer {
  background-color: #1f1f1f;
}

.copyright-container {
  color: #949494;
  text-align: center;
  padding-bottom: 12px;
  margin-top: 24px;
}

.footer-row {
  display: flex;
  padding: 60px 80px;
}

.footer-col {
  flex: 50%;
}

.right-col {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.footer-col > h1 {
  font-family: "Jost", sans-serif;
  letter-spacing: 6px;
  color: #ededed;
  max-width: 50%;
  padding-bottom: 14px;
  margin: 0;
  border-bottom: 2px solid #ededed;
}

.footer-col > p {
  color: #949494;
  max-width: 70%;
  line-height: 32px;
}

.product-list, .resource-list, .contact {
  padding: 0 20px;
}

.product-list > p, .resource-list > p, .contact > p {
  color: #ededed;
  font-size: 1.2rem;
}

.product-list > li, .resource-list > li {
  color: #949494;
  list-style: none;
  margin: 0.5rem 0;
  cursor: pointer;
}

.contact > span {
  color: #949494;
}

@media screen and (max-width: 700px) {
  .footer-row {
    flex-direction: column;
    padding: 60px 15px;
  }
  .footer-col > h1 {
    font-size: 1.1rem;
  }
  .footer-col > p {
    max-width: 90%;
    font-size: 0.8rem;
  }
  .product-list, .resource-list, .contact {
    margin-top: 20px; 
    padding: 0px;
  }
  .product-list > p, .resource-list > p, .contact > p {
    font-size: 0.9rem;
  }
  .product-list > li, .resource-list > li, .contact > span {
    font-size: 0.8rem;
  }
  .right-col {
    padding: 0;
    text-align: left;
  }
  .copyright-container > span{
    font-size: 0.7rem;
  }
}